.menu {
  background-color: var(--clr-grey);
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu > a {
  height: 6.5em;
}

.menu__logo {
  width: 4em;
  height: 4em;
  object-fit: contain;
  flex-shrink: 3;
  padding: 1em 0;
}

.menu__icon {
  height: 50px;
  margin-left: 1em;
}