.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--clr-primary);
}

.navbar__logo {
  height: 45px;
  object-fit: contain;
}

.navbar__menu {
  width: 20em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  list-style-type: none;
  font-size: 1.1rem;
}

.navbar__link {
  text-decoration: none;
  color: white;
}

.navbar__link:hover {
  color: var(--clr-accent);
  text-decoration: underline;
}

.navbar__icon {
  fill: white;
}