.liquidity-card {
  background-color: var(--clr-primary);
  border-radius: var(--rds-card);
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.liquidity-card__image {
  object-fit: contain;
  width: 2.5em;
}

.liquidity-card__pool {
  display: flex;
  align-items: center;
}

.liquidity-card__detail {
  display: flex;
  justify-content: space-between;
}

.liquidity-card__apy {
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5em 0;
}