.network-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  color: var(--clr-text);
  background-color: var(--clr-primary);
  border: none;
  border-radius: var(--rds-card);
}

.network-card__text {
  font-size: 1.1rem;
}

.network-card__text--bold {
  font-size: 1.1rem;
  font-weight: bold;
}