.button {
  padding: 10px 16px;
  line-height: 20px;
  border-radius: var(--rds-button);
  border: none;
  min-width: 80px;
  font-size: 1.4rem;
  background-color: transparent;
}

.button:hover {
  transition: 0.2s ease;
  cursor: pointer;
}

.button--primary {
  background-color: var(--clr-accent);
  color: white;
}

.button--primary:hover {
  background-color: var(--clr-accent-hov);
}
