.account-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  color: var(--clr-text);
  background-color: var(--clr-primary);
  border: none;
  border-radius: var(--rds-card);
}

.account-details:hover {
  cursor: pointer;
}

.account-details__img {
  width: 2.5em;
  padding-right: 1em;
}

.account-details__text {
  font-size: 1.1rem;
}