.menu-item {
  background: transparent;
  border: none;
  border-left: 5px solid transparent;
  color: var(--clr-text);
  display: flex;
  width: 100%;
  padding: 0.5em 0;
  border-radius: var(--rds-button);
  align-items: center;
}

.menu-item:hover {
  color: var(--clr-text);
  cursor: pointer;
}

.menu-item--selected,
.menu-item--selected:hover {
  color: var(--clr-text);
  background-color: var(--clr-secondary);
}

.menu-item:focus {
  outline: none;
}

.menu-item__text {
  font-size: 1.1rem;
  margin-left: 1em;
}