:root {
  --clr-primary: #011627;
  --clr-secondary: #FDFFFC;
  --clr-accent: #2EC4B6;
  --clr-accent-hov: #27A599;
  --clr-gray-light: #CDCDCD;
  --rds-card: 20px;
  --rds-button: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}