.menu {
  background-color: var(--clr-primary);
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.menu > a {
  height: 6.5em;
}

.menu__logo {
  width: 3em;
  height: 3em;
  object-fit: contain;
  flex-shrink: 3;
  padding: 1em 0;
}

.menu__icon {
  height: 40px;
  margin-left: 1em;
}

.menu__header {
  display: flex;
  padding: 1em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}