:root {
  --clr-primary: #FFFFFF;
  --clr-secondary: #F4F3F6;
  --clr-accent: #A0013D;
  --clr-accent-hov: #850337;
  --clr-grey: #C2C2C2;
  --clr-text: #000000;
  --clr-text-light: #7F7F7F;
  --rds-card: 20px;
  --rds-button: 4px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}