.account-details {
  display: flex;
  align-items: center;
  padding: 1em;
  color: white;
  background-color: var(--clr-secondary);
  border: none;
  border-radius: var(--rds-button);
}

.account-details:hover {
  cursor: pointer;
}

.account-details__img {
  width: 1.5em;
  padding-right: 1em;
}

.account-details__text {
  font-size: 1.1rem;
}