.card {
  border-radius: var(--rds-card);
  color: var(--clr-primary);
  background-color: white;
  padding: 1em;
  max-width: 500px;
}

.card__heading {
  font-size: 1.6rem;
  text-align: center;
}

.card__button-container {
  position: relative;
  bottom: 0;
}