.landing-page {
  background-color: var(--clr-primary);
  width: 100%;
}

.landing-page__hero {
  width: 70%;
  margin: 8em auto;
}

.landing-page__heading {
  color: var(--clr-accent);
  font-size: 5rem;
}

.landing-page__paragraph-container {
  margin: 5em 0;
}

.landing-page__paragraph {
  color: white;
  font-size: 1.5rem;
  margin: 0.3em 0;
}

.landing-page__paragraph--card {
  margin: 1.5em 0;
  font-size: 1.3rem;
}

.landing-page__cta {
  width: 13em;
}

.landing-page__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  gap: 2em;
  background-color: var(--clr-secondary);
}

@media screen and (min-width: 1100px) {
  .landing-page__services {
    flex-direction: row;
    align-items: stretch;
    padding: 5em;
  }
}