.menu-item {
  background: transparent;
  border: none;
  border-left: 5px solid transparent;
  width: 100%;
  height: 7em;
  color: var(--clr-primary);
  display: flex;
  align-items: center;
}

.menu-item:hover {
  border-left: 5px solid var(--clr-accent);
  color: var(--clr-secondary);
  cursor: pointer;
}

.menu-item--selected,
.menu-item--selected:hover {
  border-left: 5px solid var(--clr-accent);
  color: var(--clr-grey);
  background-color: var(--clr-secondary);
}

.menu-item:focus {
  outline: none;
}

.menu-item__text {
  font-size: 1.1rem;
  margin-left: 1em;
}