.modal {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.modal__card {
  background-color: white;
  width: 40%;
  height: 65%;
  left: 30%;
  top: 20%;
  position: absolute;
  padding: 1em;
  border-radius: var(--rds-card);
}

.modal__close-button {
  position: absolute;
  right: 1em;
  border: none;
  background-color: white;
  height: 3em;
}

.modal__close-button:hover {
  cursor: pointer;
}