.wallet-modal__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  margin: 2em;
}

.wallet-modal__mark {
  width: 78px;
  height: 78px;
  background-size: 50%;
  background-position: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07);
  border-radius: 100%;
  background-image: url("../images/logo-small.png");
  background-repeat: no-repeat;
}

.wallet-modal__heading {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5em;
  height: 1em;
}

.wallet-modal__subheading {
  text-align: center;
  font-size: 1.1rem;
  height: 1em;
}

.wallet-modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 250px;
}

.wallet-modal__terms {
  margin-top: 1em;
  font-size: 0.8rem;
  text-align: center;
}

.wallet-modal__text {
  font-size: 1.4em;
}